:root {

--color-creative:rgb(255, 196, 0);
--color-action:rgb(255, 64, 0);
--color-service:rgb(72, 0, 255);
--color-primary:rgb(255, 255, 255);
--color-secondary:rgb(0, 0, 0);
}

.dark-mode{

--color-creative:rgb(255, 207, 50);
--color-action:rgb(253, 88, 33);
--color-service:rgb(96, 33, 255);
--color-primary:rgb(0, 0, 0);
--color-secondary:rgb(255, 255, 255);

}
 
.creative{background-color: var(--color-creative);}
.action { background-color: var(--color-action)}
.service { background-color: var(--color-service) }


.btn-primary { /* Show all button*/
    background-color: var(--color-primary);

    &::after{
    background-color: var(--color-primary);
    }
}

.btn-danger{ /* Creative filter button*/
    background-color: var(--color-creative);
    }

.btn-success{ /* Action filter  button*/
    background-color: var(--color-action);
    }

.btn-info{ /* Service filter  button*/
    background-color: var(--color-service);
    }